PPGCLDesktopApplication_2021/WSDL/CustomerSapIntegration.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.example.org/CustomerSalesOrder" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/CustomerSalesOrder" targetNamespace="http://www.example.org/CustomerSalesOrder">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.org/CustomerSalesOrder" version="1.0">


<xsd:complexType name="customer">
		<xsd:sequence>
			<xsd:element name="sapSalesOrder" type="xsd:string"/>
			<xsd:element name="sapSalesOrderCreationDate" type="xsd:string"/>
			<xsd:element name="customerSapCode" type="xsd:string"/>
			<xsd:element name="customerName" type="xsd:string"/>
			<xsd:element name="customerAddress" type="xsd:string"/>
			<xsd:element name="sapLineItem" type="xsd:string"/>
			<xsd:element name="sapMaterial" type="xsd:string"/>
			<xsd:element name="sapOrderQuantity" type="xsd:string"/>
			<xsd:element name="sapOrderUnit" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="customerRequest">
		<xsd:complexType>
			<xsd:sequence maxOccurs="unbounded">
				<xsd:element name="customerList" type="tns:customer"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="Acknowledgement">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="responseType" type="xsd:string"/>
				<xsd:element maxOccurs="unbounded" name="result" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="customerRequest">
    <wsdl:part element="tns:customerRequest" name="customerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SoapEndpoint">
    <wsdl:operation name="customer">
      <wsdl:input message="tns:customerRequest" name="customerRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapEndpointSoap11" type="tns:SoapEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="customer">
      <soap:operation soapAction=""/>
      <wsdl:input name="customerRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapEndpointService">
    <wsdl:port binding="tns:SoapEndpointSoap11" name="SoapEndpointSoap11">
      <soap:address location="http://localhost:9090/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>